<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hades Bookstore</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+TZ+Guides&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Hades Bookstore</h1>
    <p>Bem-vindo à melhor livraria do submundo!</p>
    <img src="https://media.giphy.com/media/1TgECF0mNVirC/giphy.gif?cid=790b7611bg40idq1f5l1alxquke86e6kw0vnl758c3s4vxai&ep=v1_gifs_search&rid=giphy.gif&ct=g">
    <button id="loginButton">Login</button>
</div>
<script src="/script.js"></script>
</body>
</html>
